*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.adminTitle{
    font-size: 1.8rem;
    font-family: "Kulim Park", sans-serif;
    font-style: light;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
    
}
.adminForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Kulim Park", sans-serif;
    font-style: light;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    gap: 1.25rem;
}
.adminLabels{
    font-family: "Kulim Park", sans-serif;
    font-size: 1rem;
}
.labelNameProduct{
    background-color: #C8D7DC;
    height: 2.313rem;
    border: none;
}
.adminButton{
    height: 2.75rem;
    width: 16.25rem;
    align-self: center;
    text-align: center;
    font-family: "Kulim Park", sans-serif;
    font-style: italic;
    border-radius: 1.25rem;
    border-color: transparent;
    background-color: #575353;
    color: aliceblue;
    font-size: 1.2rem;
}