@font-face{
    font-family:'HelveticaNeue-Light';
    src: url(/fonts/HelveticaNeueLTStd-Lt.otf);
}
@font-face{
    font-family:'HelveticaNeue-UltraLight';
    src: url(/fonts/HelveticaNeueLTStd-UltLt.otf);
}
footer{
    background-color: #F5F3F3;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
}

a{
    text-decoration: none;
    color:#474747;
    
}
.footerMenu a{
    font-family:'HelveticaNeue-Light';
}
p{
    font-family:'HelveticaNeue-Light';
    color:#474747;
}


@media screen and (max-width:768px){
.footerIcons{
    display: flex;
    flex-direction: row;
    gap: 8vw;
    justify-content: center;
        align-items: center;
}
.footerMenu{
    display: flex;
    flex-direction: row;
    gap: 6vw;
    justify-content: center;
}
.footerRights{
    text-align: center;
    width: 80vw;
}

}

@media screen and (min-width:1024px){
    footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .footerMenu{
        display: flex;
        flex-direction: row;
        gap: 2vw;
        justify-content: center;
}
    .footerIcons{
        margin-right: 4vw;
        display:flex;
        gap: 4vw;
        align-items: center;
        
    }
    .footerIcons img{
        width: 1.5rem;
    }
    .footerRights{
        margin-left:4vw;
    }

}