nav{
    background-color: #F5F3F3;
    display: flex;
    width: 100vw;
    height: 10vh;

}
.navbar{
    align-content: center;
}
.logo{
    width:5rem;
    margin-left: 4vw;
    align-items: center;
}
@font-face{
    font-family:'HelveticaNeue-Light';
    src: url(/fonts/HelveticaNeueLTStd-Lt.otf);
}
.navbarIcons{
    font-family: 'HelveticaNeue-Light';
    display: flex;
    justify-content: space-between;
    width: 100%;
align-items: center;    
}
#burgerMenu{
    width:10vw;
    display: flex;
    justify-content: center;
}


.navbarMenu{
    display: flex;
    flex-direction: row;
    gap: 6vw;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: space-between;
    gap: 8vw;
    margin-right: 4vw;
    
}
#burgerMenu img{
    width: 2rem;
    
}
.icons img{
    width: 1.5rem;
}

@media screen and (max-width:768px){
    .logo{
        margin-left:5vw;
        padding-top: 1vh;
    }
    #burgerMenu{
        width: 16vw;
    }
    .navbarMenu{
        display: none;
    }
}
@media screen and (min-width:1024px){
.icons{
    gap: 3vw;
}
.icons img {
    width: 1.2rem;
}
#burgerMenu{
    display: none;
}

}